*:root {
  --dark: #2c2c2c;
  --white: #ffffff;
  --card-shadow: 0 8px 16px 0 rgba(44, 44, 44, 0.2);
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: var(--dark);
}
main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

a {
  color: var(--dark);
  text-decoration: none;
}
.rounded {
  border-radius: 0.5rem;
}

/* BTN styling */
.btn--large {
  height: 3rem;
  width: 10rem;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid var(--dark);
  color: var(--dark);
}
.btn--link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--white {
  background-color: var(--white);
}
.btn-arrow-icon {
  margin-left: 2px;
}
/* Header style */
header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 70rem;
}
.header__title {
  font-size: 1.5rem;
  font-weight: 500;
}
.nav {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.nav__li {
  display: flex;
  align-items: center;
}
.nav__a {
  font-size: 0.875rem;
  font-weight: 500;
}

.nav__a--email {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 1px solid var(--dark);
}

/* About style */
.about {
  display: flex;
  flex-direction: column;
  background: rgb(230, 238, 244);
  background: linear-gradient(
    180deg,
    rgba(230, 238, 244, 0.1) 60%,
    rgba(49, 161, 241, 0.35) 100%
  );
  width: 100%;
}
.about-wrapper {
  height: fit-content;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: fit-content;
}

.about__header {
  font-weight: 500;
}
.about__header--lg {
  margin-bottom: 2.25rem;
  font-size: 1.5rem;
}
.about__header--sm {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}
.about__text {
  font-size: 1rem;
  font-weight: 400;
  max-width: 550px;
}
.about__text--mgsmall {
  margin-bottom: 1.5rem;
}
.about__text--mglg {
  margin-bottom: 2.25rem;
}

/* About photo style */
.about-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-photo-wrapper {
  height: 16rem;
  width: 16rem;
  margin-bottom: 1.5rem;
}
.about__photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.about-contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-links-wrapper {
  display: flex;
  gap: 0.75rem;
}

.about__link {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 1px solid var(--dark);
  color: var(--dark);
}
.about__link--lg {
  height: 2rem;
  width: 2rem;
}
.about__link--sm {
  height: 1.75rem;
  width: 1.75rem;
}
.about__link:hover {
  opacity: 0.8;
}

/* About projects styling */
.about-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: var(--card-shadow);
  max-width: 16rem;
  padding: 1rem;
}
.about-projects-wrapper {
  display: flex;
  gap: 2rem;
  margin-bottom: 2.5rem;
}
.card__link {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 1px solid var(--dark);
  color: var(--dark);
}
.card__link--lg {
  height: 2rem;
  width: 2rem;
}
.card__link--sm {
  height: 1.75rem;
  width: 1.75rem;
}
.card__link:hover {
  opacity: 0.8;
}
.project-card-img-wrapper {
  height: 14rem;
  width: 14rem;
  margin-bottom: 1.5rem;
}
.project-card__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.project-card__title {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.project-card__title-mgsmall {
  margin-bottom: 0.75rem;
}
.project-card__subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.project-card-links-wrapper {
  display: flex;
  gap: 0.5rem;
}

/* Projects style */
.projects {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem 0;
  background: rgb(230, 238, 244);
  background: linear-gradient(
    180deg,
    rgba(230, 238, 244, 0.1) 60%,
    rgba(49, 161, 241, 0.35) 100%
  );
}
.projects__header {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 16rem);
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
}

/* Individual projects page */
.iproj {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
}
.iproj-text-img-wrapper {
  display: flex;
  gap: 4.5rem;
  align-items: center;
  padding-bottom: 3rem;
}
.iproj-img-wrapper {
  width: 22rem;
  height: 16.5rem;
}
.iproj__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  box-shadow: var(--card-shadow);
}
.iproj-text-wrapper {
  display: flex;
  flex-direction: column;
}
.iproj__header {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.iproj__subheader {
  font-weight: 500;
  font-size: 1.25rem;
}
.iproj__subheader--mglg {
  margin-bottom: 2.5rem;
}
.iproj__subheader--mgsm {
  margin-bottom: 1rem;
}
.iproj__text {
  font-size: 1rem;
  font-weight: 400;
  max-width: 600px;
}
.iproj__text--mgsm {
  margin-bottom: 1.5rem;
}
.iproj__text--mglg {
  margin-bottom: 2.5rem;
}

.iproj-links-wrapper {
  display: flex;
  gap: 1.5rem;
}

.iproj__icon {
  margin-right: 3px;
}
.iproj__link-live {
  position: relative;
  right: 3px;
  display: flex;
  align-items: center;
}

.iproj__ul {
  display: grid;
  grid-template-columns: repeat(2, 8rem);
  margin: 0;
  padding: 0 0 0 1.5rem;
  gap: 0.25rem;
}
.iproj__li {
  font-size: 1rem;
  font-weight: 400;
}
