*:root {
  --dark: #2c2c2c;
  --white: #ffffff;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: var(--dark);
}
main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

a {
  color: var(--dark);
  text-decoration: none;
}
.rounded {
  border-radius: 0.5rem;
}

/* BTN styling */
.btn--large {
  height: 3rem;
  width: 10rem;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid var(--dark);
  color: var(--dark);
}
.btn--link {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header style */
header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 70rem;
}
.header__title {
  font-size: 1.5rem;
  font-weight: 500;
}
.nav {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.nav__li {
  display: flex;
  align-items: center;
}
.nav__a {
  font-size: 0.875rem;
  font-weight: 500;
}

.nav__a--email {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 1px solid var(--dark);
}

/* About style */
.about-wrapper {
  height: fit-content;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: fit-content;
}

.about__header {
  font-weight: 500;
}
.about__header--lg {
  margin-bottom: 2.25rem;
  font-size: 1.5rem;
}
.about__header--sm {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}
.about__text {
  font-size: 1rem;
  font-weight: 400;
  max-width: 550px;
}
.about__text--mgsmall {
  margin-bottom: 1.5rem;
}
.about__text--mglg {
  margin-bottom: 2.25rem;
}

/* About photo style */
.about-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-photo-wrapper {
  height: 16rem;
  width: 16rem;
  margin-bottom: 1.5rem;
}
.about__photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.about-contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-links-wrapper {
  display: flex;
  gap: 0.75rem;
}

.about__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 1px solid var(--dark);
  color: var(--dark);
}
.about__link:hover {
  opacity: 0.8;
}
